<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Book">
    <insert id="save" parameterType="com.icia.lib.DTO.BookDTO">
        insert into book_list(bookName,bookPublisher,bookAuthor,bookPrice)
            values (#{bookName},#{bookPublisher},#{bookAuthor},#{bookPrice})
    </insert>

    <select id="findAll" resultType="book">
        select * from book_list
    </select>

    <select id="select" parameterType="Long" resultType="book">
        select * from book_list where id=#{id}
    </select>

    <delete id="delete" parameterType="book">
        delete from book_list where id=#{id}
    </delete>

    <update id="update" parameterType="book">
        update book_list set bookName=#{bookName},bookPublisher=#{bookPublisher},
                             bookPrice=#{bookPrice},bookAuthor=#{bookAuthor}
            where id = #{id}
    </update>
</mapper>